
@model PART1.Pages.donations.CHOICEModel
<header>
<h4 class="heading">CHOICES</h4>
</header>
    <div class=" navbar-collapse collapse d-sm-inline-flex justify-content-between">

        <ul class="navbar-nav flex-grow-1 ">
            
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/GoodsDonIndex">add new Goods Donation</a>
                </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/MoneyDonIndex">Add new Monetary Donation</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/DisasterIndex">Add new DISASTER</a>

            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/MoneDonViewIndex">View Money Donations</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/GoodsDonViewIndex">View Goods Donated</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/DisasterViewIndex">View Recorded Disasters</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/MONEYALLOINDEX">MONEY ALLOCATION</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/GoodsINDEX">GOODS ALLOCATION</a>
            </li>
           </ul>

    </div>


<div>
    <a asp-page="LOGINDEX">LOGIN</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
           
           
        















   













   