
@model PART1.Pages.donations.CHOICEModel

<h4>CHOICES</h4>
<hr >
<header>
    <div class=" navbar-collapse collapse d-sm-inline-flex justify-content-between">

        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">

        </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/GoodsDonIndex">GoodsDonation</a>
                </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/MoneyDonIndex">MonetaryDonation</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/DisasterIndex">DISASTER</a>

            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/MoneDonViewIndex">MoneyDonView</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/GoodsDonViewIndex">GoodsDonView</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/MONEYALLOINDEX">MONEYALLOCATION</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/GoodsINDEX">GOODSALLOCATION</a>
            </li>
            

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/DisasterViewIndex">DisasterView</a>
            </li>
            </align>


    </div>
</header>
</hr>

<div>
    <a asp-page="LOGINDEX">LOGIN</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
           
           
        















   













   