
@model PART1.Pages.donations.DisasterModel
<header>
<h4 class="heading">Create a new DISASTER</h4>

<div class=" navbar-collapse collapse d-sm-inline-flex justify-content-between">

    <ul class="navbar-nav flex-grow-1 ul">
            <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/ChoiceIndex">CHOICE</a>
        </li>


        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/DisasterViewIndex">DisasterView</a>
        </li>
      </ul>
</div>
</header>
<div class="row">
    <div class="col-md-4 label">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DISASTER.StartDate" class="control-label">When did the disaster start?</label>
                <input asp-for="DISASTER.StartDate" class="form-control" />
                <span asp-validation-for="DISASTER.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DISASTER.EndDate" class="control-label">when did the disaster end?</label>
                <input asp-for="DISASTER.EndDate" class="form-control" />
                <span asp-validation-for="DISASTER.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DISASTER.LOCATION" class="control-label">Where did the disaster occure?</label>
                <input asp-for="DISASTER.LOCATION" class="form-control" />
                <span asp-validation-for="DISASTER.LOCATION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DISASTER.DESCRIPTION" class="control-label">Enter disaster description</label>
                <input asp-for="DISASTER.DESCRIPTION" class="form-control" />
                <span asp-validation-for="DISASTER.DESCRIPTION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DISASTER.AidTypes" class="control-label">What type of aid is required?</label>
                <input asp-for="DISASTER.AidTypes" class="form-control" />
                <span asp-validation-for="DISASTER.AidTypes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn-purple" />
            </div>
        </form>
    </div>
</div>

<div class="label">
    <a asp-page="LOGINDEX">EXIT</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
