
@model PART1.Pages.donations.GoodsModel

<h4 class="heading">Goods</h4>

<div class=" navbar-collapse collapse d-sm-inline-flex justify-content-between">

    <ul class="navbar-nav flex-grow-1 ul heading">

        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/ChoiceIndex">CHOICES</a>
        </li>
    </ul>
<</div>
<div class="row label">
    <div class="col-md-5">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GoodsClass.DISASTER_LOCATION" class="control-label">DISASTER LOCATION</label>
                <input asp-for="GoodsClass.DISASTER_LOCATION" class="form-control" />
                <span asp-validation-for="GoodsClass.DISASTER_LOCATION" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="GoodsClass.DISASTER_NAME" class="control-label">DISASTER NAME</label>
                <input asp-for="GoodsClass.DISASTER_NAME" class="form-control" />
                <span asp-validation-for="GoodsClass.DISASTER_NAME" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="GoodsClass.GOODSNAME" class="control-label">Name of a good that you are donating</label>
                <input asp-for="GoodsClass.GOODSNAME" class="form-control" />
                <span asp-validation-for="GoodsClass.GOODSNAME" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="GoodsClass.QUANTITY" class="control-label">How many items are you donating?</label>
                <input asp-for="GoodsClass.QUANTITY" class="form-control" />
                <span asp-validation-for="GoodsClass.QUANTITY" class="text-danger"></span>
            </div>


            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GoodsClass.IsActive" /> @Html.DisplayNameFor(model => model.GoodsClass.IsActive)
                </label>
            </div>


            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GoodsClass.IsAllocated" /> @Html.DisplayNameFor(model => model.GoodsClass.IsAllocated)
                </label>
            </div>


            <div class="form-group">
                <input type="submit" value="ALLOCATE" class="btn-purple" />
            </div>
        </form>
    </div>
</div>

<div class="heading">
    <a asp-page="LOGINDEX">Exit</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
