
@model PART1.Pages.donations.MonetaryDonModel
<header>
<h4 class="heading">Monetary Donation</h4>

<div class=" navbar-collapse collapse d-sm-inline-flex justify-content-between">

    <ul class="navbar-nav flex-grow-1">
      <li lass="nav-item">
            <a class="nav-link text-dark heading" asp-area="" asp-page="/ChoiceIndex">View CHOICEs</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark heading" asp-area="" asp-page="/MoneDonViewIndex">View Monetary Donation</a>
        </li>

    </ul>   

</div>
</header>

<div class="row">
    <div class="col-md-4 label">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MonetaryDonation.Date" class="control-label"></label>
                <input asp-for="MonetaryDonation.Date" class="form-control" />
                <span asp-validation-for="MonetaryDonation.Date" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                
            </div>
            <div class="form-group">
                <label asp-for="MonetaryDonation.Amount" class="control-label"></label>
                <input asp-for="MonetaryDonation.Amount" class="form-control" />
                <span asp-validation-for="MonetaryDonation.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn-purple" />
            </div>
        </form>
    </div>
</div>

<div class="label">
    <a asp-page="LOGINDEX">EXIT</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
