
@model PART1.Pages.donations.MONEYSALLOModel
<header>
<h4 class="heading">MONEYALLOCATIONS</h4>
<div class=" navbar-collapse collapse d-sm-inline-flex justify-content-between">

    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="heading" asp-area="" asp-page="/ChoiceIndex">CHOICES</a>
        </li>
    </ul>
</div>
</header>

<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MONEYALLOCATIONS.DISASTER_LOCATION" class="control-label">Enter DISASTER LOCATION</label>
                <input asp-for="MONEYALLOCATIONS.DISASTER_LOCATION" class="form-control" />
                <span asp-validation-for="MONEYALLOCATIONS.DISASTER_LOCATION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MONEYALLOCATIONS.DISASTER_DESCRIPTION" class="control-label">Enter DISASTER DESCRIPTION</label>
                <input asp-for="MONEYALLOCATIONS.DISASTER_DESCRIPTION" class="form-control" />
                <span asp-validation-for="MONEYALLOCATIONS.DISASTER_DESCRIPTION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MONEYALLOCATIONS.ALLOCATE_FUNDS" class="control-label">Enter ALLOCATE FUNDS</label>
                <input asp-for="MONEYALLOCATIONS.ALLOCATE_FUNDS" class="form-control" />
                <span asp-validation-for="MONEYALLOCATIONS.ALLOCATE_FUNDS" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MONEYALLOCATIONS.IsActive" /> @Html.DisplayNameFor(model => model.MONEYALLOCATIONS.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="ALLOCATE" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="LOGINDEX">EXIT</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
