
@model PART1.Pages.donations.REGModelModel

<h4>REGISTER</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="REGISTER.NAME" class="control-label"></label>
                <input asp-for="REGISTER.NAME" class="form-control" />
                <span asp-validation-for="REGISTER.NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="REGISTER.SURNAME" class="control-label"></label>
                <input asp-for="REGISTER.SURNAME" class="form-control" />
                <span asp-validation-for="REGISTER.SURNAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="REGISTER.USERNAME" class="control-label"></label>
                <input asp-for="REGISTER.USERNAME" class="form-control" />
                <span asp-validation-for="REGISTER.USERNAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="REGISTER.PHONE_NUMBER" class="control-label"></label>
                <input asp-for="REGISTER.PHONE_NUMBER" class="form-control" />
                <span asp-validation-for="REGISTER.PHONE_NUMBER" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="REGISTER.PASSWORD" class="control-label"></label>
                <input asp-for="REGISTER.PASSWORD" class="form-control" />
                <span asp-validation-for="REGISTER.PASSWORD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="REGISTER.CONFIRM_PASSWORD" class="control-label"></label>
                <input asp-for="REGISTER.CONFIRM_PASSWORD" class="form-control" />
                <span asp-validation-for="REGISTER.CONFIRM_PASSWORD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="REGISTER" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="login.cshtml">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
