@page
@model PART1.Pages.donations.DisasterModel

@{
    ViewData["Title"] = "DISASTER";

}


<div class="text-center">
    @await Html.PartialAsync("/Pages/donations/Disaster.cshtml", Model)

    <
</div>
