@page
@model PART1.Pages.donations.MONEYSALLOModel


@{
    ViewData["Title"] = "MONEYALLOCATION";
}

<div class="text-center">
    @await Html.PartialAsync("/Pages/donations/MONEYSALLO.cshtml", Model)


</div>
