@page
@model PART1.Pages.donations.REGModelModel

@{
    ViewData["Title"] = "REGISTER";

}

<div class="text-center">
    @await Html.PartialAsync("/Pages/donations/REGModel.cshtml", Model)

    
</div>

